<?xml version="1.0" encoding="UTF-8"?>
<!--
 * File: index.html
 * Name: Arpan Singha
 * Roll No. 727
 * Registration Number: A01-1112-117-023-2018
 * Semester: V
 *  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletConfigServletContextDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.servlet.MyServlet</servlet-class>
		
		<init-param>
			<param-name>name1</param-name>
			<param-value>Vikram</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>name1</param-name>
		<param-value>Arpan</param-value>
	</context-param>
	<context-param>
		<param-name>phone</param-name>
		<param-value>Samsung</param-value>
	</context-param>

</web-app>